/* General */
body {
    margin: 0;
    background-color: #111;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 7);
    padding: 10px 20px;
}

.logopaciente {
    width: 80px;
    height: auto;
}

/* Título */
header section {
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 16px;
}

/* Redes */
header section img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

nav {
    background-color: #222;
}

nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Contenido */
main {
    padding: 20px;
}

main section {
    background-image: url(assets/espalda\ remera\ paciente.jpg);
    height: 700px;
    background-position: top;
    background-size: cover;
    border: #fff solid;
}

.contacto {
    background-image: url(assets/publico\ bari\ 4.jpg);
    height: 1100px;
    background-position: center;
    background-size: cover;
    margin-top: 0.5em;
    text-align: center;
}

section form {
    width: 400px;
    height: auto;
    margin: 50px auto;
    background-color: rgb(7, 7, 7);
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
   
}
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    
}
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    
}

input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
}


.proximasfechas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

main section h3 {
    font-size: 4em;
    color: rgb(7, 7, 7);
    background-color: #fff;

}

.horario {
    font-size: 5em;
    color: red;
    background-color: rgb(7, 7, 7);

}

div p {
    display: flex;
    justify-content: center;
}