/* General */
body {
    margin: 0;
    color: white;
    background-color: rgb(7, 7, 7);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 7);
    padding: 10px 20px;
}

.logopaciente {
    width: 80px;
    height: auto;
}

/* Título */
header section {
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 16px;
}

/* Redes */
header section img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

nav {
    background-color: #222;
}

nav a:hover {
    background-color: red;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding: 3px;
    border: 1px rgb(7, 7, 7) solid;
}

nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Contenido */
#inicio {
    padding: 20px;
}

#inicio section {
    background-image: url(assets/espalda\ remera\ paciente.jpg);
    height: 700px;
    background-position: top;
    background-size: cover;
    border: #fff solid;
}

#inicio .contacto {
    background-image: url(assets/publico\ bari\ 4.jpg);
    height: 1100px;
    background-position: center;
    background-size: cover;
    margin-top: 0.5em;
    text-align: center;
}

section form {
    width: 400px;
    height: auto;
    margin: 50px auto;
    background-color: rgba(7, 7, 7, 0.67);
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;

}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;

}

textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;

}

input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: rgb(60, 8, 8);
}


.proximasfechas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

main section h3 {
    font-size: 4em;
    color: rgb(7, 7, 7);
    background-color: #fff;

}

.horario {
    font-size: 5em;
    color: red;
    background-color: rgb(7, 7, 7);

}

div p {
    display: flex;
    justify-content: center;
}

#integrantes {
    width: 1500px;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    background-size: contain;

}

main h3 {
    background-color: #fff;
    color: black;
    font-size: 4em;
    text-align: center;
}

#integrantes article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    border-bottom: 3px #fff solid;
    border-style: dashed;
}

#integrantes article h4 {
    font-size: 2em;
}

#integrantes article p {
    background-color: rgb(7, 7, 7);
    font-size: 1.5em;
}

#integrantes article img {
    height: 400px;
    width: auto;
}

#entrevista {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    border-bottom: 3px #fff solid;
    border-style: dashed;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
}

#entrevista video {
    border: 3px #fff solid;
}

#historia {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 50px;
    height: 480px;
    border: 2px #fff solid;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    background-size: cover;
}

#historia p {
    background-color: #ffffff99;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
    font-size: 1.2em;
}

#recuerdos .fechanqn {
    display: flex;
    margin: 50px;
    border: 2px #fff solid;
    align-items: center;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;

}

#recuerdos .fechanqn p {
    background-color: #ffffff99;
    color: black;
    font-size: 1.2em;
    margin: 1em;
}


#recuerdos .videofechanqn {
    display: flex;
    margin: 50px;
    border: 2px #fff solid;
    align-items: center;
    justify-content: center;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;

}

#recuerdos .fechanqn img {
    width: 350px;
    height: 400px;

}

#recuerdos .cumpleaños {
    display: flex;
    margin: 50px;
    border: 2px #fff solid;
    align-items: center;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;

}

#recuerdos .cumpleaños img {
    width: 300px;
    height: 400px;
}


#recuerdos .cumpleaños p {
    background-color: #ffffff99;
    color: black;
    font-size: 1.2em;
    margin: 1em;
}

#recuerdos .poxiatentado {
    display: flex;
    margin: 50px;
    border: 2px #fff solid;
    align-items: center;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;

}

#recuerdos .poxiatentado img {
    width: 300px;
    height: 400px;
}


#recuerdos .poxiatentado p {
    background-color: #ffffff99;
    color: black;
    font-size: 1.2em;
    margin: 1em;
}

#recuerdos .videospoxi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    border: 2px #fff solid;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;
}

#recuerdos .videospoxi video {
    width: 30%;
    height: auto;
}

#recuerdos .fechabari {
    display: flex;
    margin: 50px;
    border: 2px #fff solid;
    align-items: center;
    background-image: url(assets/logoblurreado\ de\ paciente.png);
    background-position: center;
    block-size: cover;

}

#recuerdos .fechabari img {
    width: 300px;
    height: 400px;
}


#recuerdos .fechabari p {
    background-color: #ffffff99;
    color: black;
    font-size: 1.2em;
    margin: 1em;
}

#recuerdos .videosbari {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 50px;
     border: 2px solid white;
    padding: 20px;
}

#recuerdos .videosbari video {
    width: 50%;
    height: auto;
   
}