/* General */
body {
    margin: 0;
    background-color: #111;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7,7,7);
    padding: 10px 20px;
}

.logopaciente {
    width: 80px;
    height: auto;
}

/* Título */
header section {
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 16px;
}

/* Redes */
header section img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

nav {
    background-color: #222;
}

nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Contenido */
main {
    padding: 20px;
}

main section {
    background-image: url(assets/espalda\ remera\ paciente.jpg);
      
    }
